#accommodation .accommodation_informations {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

#accommodation .accommodation_first_group .title {
  color: #ff6060;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
}

#accommodation .accommodation_first_group .location {
  color: #ff6060;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  /*margin-bottom: 20px; */
}

#accommodation .accommodation_infosPlus {
  display: flex;
  flex-direction: column;
}

#accommodation .accommodation_infosPlus .accommodation_name_picture {
  display: flex;
  justify-content: flex-end;
}

#accommodation .accommodation_infosPlus .accommodation_name_picture .name {
  color: #ff6060;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  width: 120px;
  justify-content: flex-end;
  text-align: end;
  margin-right: 10px;
}

#accommodation .accommodation_infosPlus .accommodation_name_picture img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

#accommodation .collapse_area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#accommodation .collapse_area .collapse {
  width: 45%;
}

#accommodation .collapse_area .collapse .collapse_head {
  height: 52px;
}

#accommodation .collapse_area .collapse .collapse_description {
  height: 200px;
}

#accommodation .collapse_area .collapse .collapse_description p,
#accommodation .collapse_area .collapse .collapse_description li,
#accommodation .collapse_area .collapse .collapse_head h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

@media screen and (max-width: 768px) {
  #accommodation .accommodation_informations {
    flex-direction: column;
  }

  #accommodation .accommodation_second_group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  #accommodation .accommodation_infosPlus .accommodation_name_picture .name {
    margin: 0 10px 0px 0px;
  }
}

@media screen and (max-width: 480px) {
  #accommodation .accommodation_informations {
    flex-direction: column;
  }

  #accommodation .accommodation_second_group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  #accommodation .accommodation_infosPlus .accommodation_name_picture .name {
    margin: 0 10px 0px 0px;
  }

  #accommodation .accommodation_first_group .title {
    font-size: 18px;
    line-height: unset;
  }

  #accommodation .accommodation_first_group .location {
    font-size: 14px;
    line-height: unset;
  }

  #accommodation .accommodation_infosPlus .accommodation_name_picture .name {
    width: 50px;
    font-size: 12px;
    line-height: unset;
  }

  #accommodation .accommodation_infosPlus .accommodation_name_picture img {
    width: 32px;
    height: 32px;
  }
}
