body {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 56.64px;
    /*background-color: #E5E5E5;*/
}

ul {
    list-style-type: none;
}

section {
    margin: 40px 0px 40px 0px;
}

.none {
    display: none;
}