.mobile-break {
  display: none;
}

#error {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#error > * {
  color: #ff6060;
}

#error .code {
  margin: 0;
  font-weight: 700;
  font-size: 288px;
  line-height: 411px;
}

#error .message {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
}

#error .link {
  margin: 0;
  margin-top: 182px;
  margin-bottom: 159px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

@media screen and (max-width: 768px) {
  #error .code {
    font-size: 248px;
  }

  #error .message {
    font-size: 30px;
    line-height: unset;
  }

  #error .link {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .mobile-break {
    display: inline;
  }

  #error .code {
    font-size: 192px;
  }

  #error .message {
    font-size: 24px;
  }

  #error .link {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  #error .code {
    font-size: 96px;
  }

  #error .message {
    font-size: 18px;
  }

  #error .link {
    font-size: 14px;
  }
}
