#slogan #slogan_background{
    border-radius: 25px;
    height: 223px;
    width: 100%;
    object-fit: cover;
    /*mix-blend-mode: darken;
    opacity: 0.3;*/
}

#slogan #slogan_text{
    position: relative;
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0em;
    color: #FFFFFF;
    top: 150px;
    margin: 0px;
}