.fa-star {
  font-size: 24px;
  margin-left: 15px;
}

.initial {
  color: #e3e3e3;
}

.colored {
  color: #ff6060;
}

@media screen and (max-width: 768px) {
  .fa-star {
    margin-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .fa-star {
    font-size: 13px;
    margin-left: 6px;
  }
}
