#thumbs {
  border-radius: 25px;
  background-color: #f6f6f6;
}

#thumbs ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumb {
  width: 340px;
  height: 340px;
  margin: 40px;
  overflow: hidden;
}

.thumb a img {
  width: 340px;
  height: 340px;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
}

.thumb h3 {
  width: 320px;
  padding-left: 10px;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  top: 290px;
  color: white;
  text-shadow: 1px 1px black;
}

@media screen and (max-width: 768px) {
  .thumb {
    width: 335px;
    height: 255px;
    margin: 20px;
  }

  .thumb a img {
    width: 335px;
    height: 255px;
  }

  .thumb h3 {
    top: 170px;
  }
}

@media screen and (max-width: 480px) {
  #thumbs {
    border-radius: unset;
    background-color: unset;
  }

  #thumbs ul {
    padding-inline-start: 0;
    justify-content: flex-start;
  }

  .thumb {
    width: 189px;
    height: 153px;
    margin: 5px;
  }

  .thumb a img {
    width: 189px;
    height: 153px;
  }

  .thumb h3 {
    width: 200px;
    top: 80px;
    font-size: 12px;
  }
}
