#thumbs {
    border-radius: 25px;
    background-color: #F6F6F6;
}

#thumbs ul {
   display: flex;
   flex-wrap: wrap;
}

.thumb {
    width: 340px;
    height: 340px;
    margin: 40px;
    overflow: hidden;
}

.thumb img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
}

.thumb h3 {
    width: 320px;
    padding-left: 10px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    top: 290px;
    color: white;
    text-shadow: 1px 1px black;
}