#thumbs {
  border-radius: 25px;
  background-color: #f6f6f6;
}

#thumbs ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumb {
  width: 340px;
  height: 340px;
  margin: 40px;
  overflow: hidden;
}

.thumb a img {
  width: 340px;
  height: 340px;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
}

.thumb h3 {
  width: 320px;
  padding-left: 10px;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  top: 290px;
  color: white;
  text-shadow: 1px 1px black;
}

@media screen and (max-width: 768px) {
  #thumbs ul {
    padding-inline-start: 0;
    justify-content: center;
  }

  .thumb {
    width: 335px;
    height: 255px;
    margin: 25px 0;
  }

  .thumb a img {
    width: 335px;
    height: 255px;
  }

  .thumb h3 {
    top: 200px;
  }
}

@media screen and (max-width: 480px) {
  #thumbs {
    margin-top: 0;
    border-radius: unset;
    background-color: unset;
  }

  #thumbs ul {
    justify-content: flex-start;
  }

  .thumb {
    width: 100%;
    display: inline-block;
    margin: 10px 0;
    height: 290px;
  }

  .thumb a img {
    width: 89%;
    height: auto;
  }

  .thumb h3 {
    width: 200px;
    top: 240px;
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  .thumb {
    height: 270px;
  }

  .thumb h3 {
    top: 220px;
  }
}

@media screen and (max-width: 430px) {
  .thumb {
    height: 250px;
  }

  .thumb h3 {
    top: 200px;
  }
}

@media screen and (max-width: 410px) {
  .thumb {
    height: 240px;
  }

  .thumb h3 {
    top: 200px;
  }
}

@media screen and (max-width: 390px) {
  .thumb {
    height: 220px;
  }

  .thumb h3 {
    top: 180px;
  }
}

@media screen and (max-width: 370px) {
  .thumb {
    height: 200px;
  }

  .thumb h3 {
    top: 160px;
  }
}

@media screen and (max-width: 350px) {
  .thumb {
    height: 180px;
  }

  .thumb h3 {
    top: 140px;
  }
}

@media screen and (max-width: 330px) {
  .thumb {
    height: 160px;
  }

  .thumb h3 {
    top: 120px;
  }
}
